<a href="https://colab.research.google.com/github/EverestBootCamp/ImbalanceClassTest/blob/T102_Annotations/T102_Annotations/T102_Annotations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
Required Liraries Imported
'''
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

class Annotation():
    '''
    Following arguments are required to run this annotation class.Default values are provided:-

    File path where the original data csv file is saved. Input should be in String format.
    input_file_path='data_transformed.csv'

    The dependent or target feature. Input should be in String format.
    target_column='Class'

    Test size for the train test split. Input should be in integer format.
    test_size=0.3

    The type of dataframe can be selected by iputting the following arguments:-
    'train' or 'test' or Any float value ranging from 0-1
    output_dataframe='train'
    '''

    def __init__(
            self,
            input_file_path='data_transformed.csv',
            target_column='Class',
            test_size=0.3,
            output_dataframe='train'):
        self.input_file_path = input_file_path
        self.target_column = target_column
        self.test_size = test_size
        self.output_dataframe = output_dataframe

    def dataframe(self):

        # Read the data_transformed file
        df = pd.read_csv(self.input_file_path)

        # Splitting the independednt adn dependent variable
        X = df.drop(columns=[self.target_column])  # input
        y = df[self.target_column]  # output

        # Splitting 70% of the data for training and 30% for testing (with
        # stratification for imbalanced class)
        X_train, X_test, y_train, y_test = train_test_split(
            X, y, test_size=self.test_size, stratify=y, random_state=0)
        
        if self.output_dataframe.isalpha() == True:
            if self.output_dataframe.lower() == 'train':
                # making a copy to avoid SettingWithCopy Warning
                train_data = X_train.copy()
                # Combining the stratified data
                train_data.loc[:, self.target_column] = y_train
                return train_data
            elif self.output_dataframe.lower() == 'test':
                # making a copy to avoid SettingWithCopy Warning
                test_data = X_test.copy()
                # Combining the stratified data
                test_data.loc[:, self.target_column] = y_test
                return test_data
            else:
                print("""For the 'output_dataframe' argument, select from these:-
                      'train' or 'test' or Any float value ranging from 0-1""")
        elif self.output_dataframe.isalpha() == False:
            try:
                if float(self.output_dataframe) in np.linspace(0.1, 0.9, 9):
                    # making a copy to avoid SettingWithCopy Warning
                    train_data = X_train.copy()
                    # Combining the stratified data
                    train_data.loc[:, self.target_column] = y_train

                    # Splitting the independednt adn dependent variable
                    X_70 = train_data.drop(columns=[self.target_column])  # input
                    y_70 = train_data[self.target_column]  # output
                    _, Sample_X, _, Sample_y = train_test_split(
                        X_70, y_70, test_size=float(self.output_dataframe), stratify=y_70, random_state=0)

                    # making a copy to avoid SettingWithCopy Warning
                    train_data = Sample_X.copy()
                    # Combining the stratified data
                    train_data.loc[:, self.target_column] = Sample_y
                    return train_data
                else:
                    print("""For the 'output_dataframe' argument, select from these:-
                          'train' or 'test' or Any float value ranging from 0-1""")
                
            except:
                print("""For the 'output_dataframe' argument, select from these:-
                      'train' or 'test' or Any float value ranging from 0-1""")
        else:
            print("""For the 'output_dataframe' argument, select from these:-
                  'train' or 'test' or Any float value ranging from 0-1""")

In [ ]:
a = Annotation()    #Calling the class and assigning it to 'a' with the dataset as the argument
a.dataframe()

        Unnamed: 0        T1        T2  ...       T28   value  Class
95870       272181  1.985415 -0.550566  ... -0.033352    1.00      0
32764       173490  0.210699  0.936485  ...  0.013900    9.17      0
327         105795 -6.091784  5.002922  ... -0.895882    0.77      0
178996      173654  1.923234 -0.281321  ... -0.062574   93.17      0
248704      264351 -0.124671  1.964267  ...  0.344524    3.96      0
...            ...       ...       ...  ...       ...     ...    ...
154686      253457 -0.479274 -0.393808  ...  0.054366   22.69      0
204502      230311 -0.195326  0.507585  ... -0.154145  258.90      0
31024       165029  2.253767 -1.440754  ... -0.052575   16.00      0
158096      268686 -2.997003  2.540659  ... -0.208467   27.25      0
223900       15887 -0.540508  1.167342  ... -0.336980   38.42      0

[197371 rows x 31 columns]

In [ ]:
a.dataframe().groupby('Class').count()

       Unnamed: 0      T1      T2      T3  ...     T26     T27     T28   value
Class                                      ...
0          197028  197028  197028  197028  ...  197028  197028  197028  197028
1             343     343     343     343  ...     343     343     343     343

[2 rows x 30 columns]

In [ ]:
197028/343

574.4256559766764

In [ ]:
b = Annotation(output_dataframe='0.1') 
b.dataframe()

        Unnamed: 0        T1        T2  ...       T28   value  Class
85042        89333 -2.716608 -2.330187  ... -0.133524  101.89      0
223923      190081  1.910299  0.683046  ... -0.070606    0.00      0
243257      127717 -1.275970  1.000924  ...  0.112830   13.25      0
70619        55808  1.150036 -1.185910  ...  0.005368  102.00      0
207313      169307  2.257981 -1.705479  ... -0.041718    9.05      0
...            ...       ...       ...  ...       ...     ...    ...
24583       169110 -4.856079  0.158471  ...  1.607854   30.00      0
275156       46789 -0.846728  1.265127  ... -0.425804    8.99      0
109426      187502  1.978143 -0.285612  ... -0.051155   49.95      0
3570        116984 -0.805622  0.403235  ...  0.099215   29.70      0
179493      217535  1.700749 -0.566680  ... -0.014511  117.00      0

[19738 rows x 31 columns]

In [ ]:
b.dataframe().groupby('Class').count()

       Unnamed: 0     T1     T2     T3  ...    T26    T27    T28  value
Class                                   ...
0           19704  19704  19704  19704  ...  19704  19704  19704  19704
1              34     34     34     34  ...     34     34     34     34

[2 rows x 30 columns]

In [ ]:
19704/34 #Checking if the target feature ('Class') proportion is being maintained or not

579.5294117647059

In [ ]:
c = Annotation(output_dataframe='1') 
c.dataframe()

For the 'output_dataframe' argument, select from these:-
                          'train' or 'test' or Any float value ranging from 0-1

In [ ]:
d = Annotation(output_dataframe='train_dataset') 
d.dataframe()

For the 'output_dataframe' argument, select from these:-
                      'train' or 'test' or Any float value ranging from 0-1